/* Estilos para el botón "Volver al Inicio" */
.btn-volver {
    position: fixed;
    top: 20px;
    left: 20px; /* Cambiado de 'right' a 'left' para alinearlo a la izquierda */
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 1000; /* Para que siempre esté visible */
}

.btn-volver:hover {
    background-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.products {
    margin: 2rem 0;
    padding: 0 1rem;
    text-align: center;
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
}

.product-txt {
    padding: 1rem;
    text-align: center;
}

.product-txt h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;
}

.product-txt p {
    margin: 0.5rem 0;
    color: #777;
}

.precio {
    font-weight: bold;
    color: #e67e22; /* Color para el precio */
}

.agregar-carrito {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #000000; /* Color del botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.agregar-carrito:hover {
    background-color: #000000; /* Color del botón al pasar el ratón */
}

